#EditorConfig帮助开发人员定义和维护一致性
#不同编辑器和ide之间的编码风格
# editorconfig.org

root = true

[*]

#将这些设置更改为您自己的首选项
indent_style = space
indent_size = 4

#我们建议您保持这些不变
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[package.json]
indent_style = space
indent_size = 2
